[
  {
    "id": "a1b2c3d4-0001-4000-8000-000000000001",
    "name": "IMAP Candidatures",
    "type": "imap",
    "data": {
      "user": "@@IMAP_USER@@",
      "password": "@@IMAP_PASSWORD@@",
      "host": "@@IMAP_HOST@@",
      "port": @@IMAP_PORT@@,
      "secure": true,
      "allowUnauthorizedCerts": false
    }
  },
  {
    "id": "a1b2c3d4-0002-4000-8000-000000000002",
    "name": "PostgreSQL RH",
    "type": "postgres",
    "data": {
      "host": "@@RH_DB_HOST@@",
      "port": @@RH_DB_PORT@@,
      "database": "@@POSTGRES_DB@@",
      "user": "@@POSTGRES_USER@@",
      "password": "@@POSTGRES_PASSWORD@@",
      "ssl": "disable",
      "allowUnauthorizedCerts": false
    }
  },
  {
    "id": "a1b2c3d4-0003-4000-8000-000000000003",
    "name": "SMTP Notification",
    "type": "smtp",
    "data": {
      "user": "@@SMTP_USER@@",
      "password": "@@SMTP_PASSWORD@@",
      "host": "@@SMTP_HOST@@",
      "port": @@SMTP_PORT@@,
      "secure": false,
      "disableStartTls": false
    }
  }
]
